<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dashboard</title>
        <link rel="stylesheet" href="/finance/finance.css">
    </head>
    <body>
        <%- include("./ejs/banner.ejs") %>

        <%- include("./ejs/home.ejs") %>
        <%- include("./ejs/createAccount.ejs") %>
        <%- include("./ejs/createTransaction.ejs") %>
        <%- include("./ejs/createCategory.ejs") %>
        <%- include("./ejs/createBill.ejs") %>
        <%- include("./ejs/createIncome.ejs") %>
        <%- include("./ejs/createAllowance.ejs") %>
        <%- include("./ejs/transaction.ejs") %>

        <script src="./bundle.js"></script>
    </body>
</html>